yourdomain.com {
    encode gzip

    handle /socket.io/* {
        reverse_proxy node-backend:3000
    }
    handle /config {
        reverse_proxy node-backend:3000
    }
    handle /health {
        reverse_proxy node-backend:3000
    }
    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}